.invoice-addresses {
  display: flex;
  justify-content: space-between;
}

.invoice-address p, .invoice-client-address p, .invoice-invoice-details p, .invoice-figures p {
  margin: 0px;
}

.invoice-address p {
  font-weight: bold;
}

.invoice-address, .invoice-client-address, .invoice-figures {
  padding-top: 10px;
  padding-bottom: 10px;
}

.invoice-figures {
  padding-right: 20px;
  padding-left: 80px;
  background-color: $purple;
  text-align: right;
  color: white;
  font-weight: bold;
}
