.invoice-addresses {
  display: flex;
  justify-content: space-between;
}

.invoice-address p, .invoice-client-address p, .invoice-invoice-details p {
  margin: 0px;
}

.invoice-address p {
  font-weight: bold;
}

.invoice-summary-label {
  text-align: right;
  font-style: italic;
}

.invoice-summary-figure {
  text-align: left;
  font-style: italic;
}
