<div class="container">
  <h1>All Invoices</h1>

  <% @invoices.each do |invoice| %>
    <%= link_to invoice_path(invoice) do %>
      <p>ID<%= invoice.id %>: <%= invoice.customer.name %> <%= invoice.date %></p>
    <% end %>
  <% end %>
</div>
