<div class="container">
  <h1>All invoices</h1>
  <% @invoices.each do |invoice| %>
    <!-- wrap each in link to show page -->
    <h3><%= invoice.id %>: <%= invoice.customer.name %> <%= invoice.date %></h3>
  <% end %>
</div>
