<footer class="footer">
  <span class="footer-link"><%= link_to "HOME", root_path %></span>
  <span class="footer-link"><%= link_to "INVOICES", invoices_path %></span>
  <span class="footer-link"><%= link_to "PRODUCTS", products_path %></span>
</footer>
