<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div>
    <%= link_to "ZIGAFLOW", root_path, class: "nav-link" %>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Invoices", invoices_path, class: "nav-link" %>
      </li>
       <li class="nav-item">
        <%= link_to "Products", products_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
